body {
	background-color: #ccc;
	color: #222;
	font: 1.0em helvetica;
	user-select: none; /* Prevent text selection */
    cursor: default; /* Use default cursor instead of text cursor */
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	/* margin: 1em 0; */
}

p {
	margin: 1em 0;
}

.content {}

.steptext {
	/* display: inline; */
	    display: block;
	font-size: 14px;
	text-align: justify;
	position: relative;
	top: -35px;
	left: 70px;
	max-width: 80%;
}
.menu-container{
	display: none;
	align-items: center;
	justify-content: center;
	/* margin-top: 20px; */
	padding: 20px;
}

.menu-container2{
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 20px; */
	padding: 25px;
}

.stop-dot {
    font-size: 1.5em; /* Adjust this value as needed */
    font-weight: bold; /* Optional: Make the text bold */
}


.errorText {
	display: flex;
	align-items: center;
	justify-content: center;
}


.error-message {
	color: red;
	text-align: center;
	display: none; /* Hidden by default */
}
.formDiv{
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.place {
	width: 40px;
}

.out {
	grid-column: 1;
	width: 60px;
	height: 55px;
	padding: 20px;
	border-radius: 20%;
	/* font-weight: 500; */
	font-weight: bold;
	border: 2.5px solid rgb(0, 0, 0);
	color: #000000;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em 0;

}

#backButton:disabled{
	color: inherit;
	opacity: 1;
	border: #000 1px solid;
	cursor: not-allowed;
}
#backButton {
	display: none;
	padding: 4px 10px;
	background-color: #fff;
	border: ipx solid black;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	/* margin: 10px; */
	font-size: 14px;
	/* margin-top: 80px; */
	


}
#backButton:hover {
	background-color: rgb(196, 203, 203);
}

#backButton img {
	width: 16px;
	height: auto;
	margin-right: 5px;
}

#backDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	position: relative;
	top: 100px;
	/* position: relative;
	top: 100px; */
	/* margin-top: 100px; */
}

/* #backBtnDiv {
	display: flex;
	align-items: center;
	justify-content: center;
} */
.tableText{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.qtext{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.lowercase{
	position: relative;
    top: 1px;
    font-size: 12px;
	left:3px;
	color: #111;
	font-weight: bold;
}

.main-heading {

	display: flex;
	justify-content: center;
	background-color: black;
	/* border: 2px solid;
  border-radius: 0%;
  margin: 10px 0px 10px 0px; */
	color: white;
	font-family: verdana;
	font-size: 16px;
	text-transform: uppercase;
}

.main-canvas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	height: 600px;
	box-sizing: border-box; /* Makes padding and border part of the height/width */
    padding-bottom: 2px; /* Prevents content from overlapping with the footer */
}

#simscreen {
	position: relative;
	left: 0%;
	top: 55%;
	height: 600px;
	width: 800px;
	border: solid 1px;
}

.simsubscreen {
	margin: 10px 50px 0px 50px;
	min-height: 300px;

}

/* #canvas1{
	min-height: 400px;
} */

#copyright {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	font-size: 12px;
	text-align: center;

}

.incanvas {
	margin: 5px 0 0 5px;
	padding: 0;
	line-height: 1.6;
}

.grid-page1 {
	/* display: grid;
	grid-template-rows: 1fr 1fr auto; */
	flex-grow: 1;
}

#nav {

	align-self: flex-end;
	margin-right: 10px;
	cursor: pointer;
}

select {
	width: 150px;
	/* font-weight: bold; */
	position: absolute;
	left: 310px;
	top: 96px;
	scroll-padding-left: 2%;
	/* padding-bottom: 2%; */
	scroll-padding-top: 2%;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.button {

	position: absolute;
	left: 245px;
	top: 190px;
	border: #000 1px solid;
	cursor: pointer;
}

.button:disabled {
	color: inherit;
	opacity: 1;
	border: #000 1px solid;
	cursor: not-allowed;

}

label{
	font-size: 18px;
}


/* label {
	position: absolute;
	left: 170px;
	top: 103px;
	font-size: 15px
} */

#playButton {
	position: relative;
	/* position: absolute;
	left:300px;
	top: 150px; */
	width: 70px;
	height: 65px;
	border-radius: 100%;
	border-color: #000;
	color: #000;
	padding-top: 30px;
	background-color: rgb(219, 221, 221);
	cursor: pointer;
	font-weight: 600;

}
#n12{
	font-size: 24px;
	font-weight: bold;
	color: #000000;     
	margin: 0;
	padding: 0;
}
.phoneticsDiv{
	display: none;
	/* display: grid; */
	grid-template-columns: repeat(2, 1fr);
	/* border: 1px solid black; */
	padding: 10px;
	position: relative;
	top: 30px;

	
}

.mainPhoneticDiv{
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.phoneticsDiv div {
    text-align: justify; /* Justify all child divs */
}
#nextButton {
    position: relative;
    top: 0.2rem; /* 15px converted to rem */
   margin: 1.5rem;
}
.pronounceDiv{
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 2px;
	position: relative;
	top: 50px;
	
}


.spokenvaleDiv{
	position: relative;
	top: 60px;
	margin: 0;
	padding: 0;
}

.spokenvalue{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	/* position: relative;
    top: 120px; */
	font-size: 20px;
	padding: 10px;
	position: relative;
    top: 15px;
	/* position: relative;
	top: 75px; */
	/* margin-bottom: 40px; */
	margin: 0;
	padding: 0;
	
}

#pronounce{
	background-color: #ffffff;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
	/* position: relative;
	top: 100px; */
}
.alphaSelect, .phoneticsText ,.figurecodeSelect, .phoneticsText2{
	
	font-weight: bold;
	font-size: 25px;
}

.alpha1,.alpha2,.num1,.num2{
	display: none;
	font-size: 18px;
	text-align: center;
	/* position: relative;
	top: 50px; */
}

.table-container{
	/* display: grid;
	grid-template-columns: repeat(6, 0.5fr);
	grid-template-rows: repeat(7,1fr);
	gap: 10px;
	border-radius: 5px; */
	gap: 10px;
	border-radius: 5px;
}
.table-container div{
	border: 1px solid #000;
}

.table-container2{
	gap: 10px;
	border-radius: 5px;
}

.table-container2 div{
	border: 1px solid #000;
}


.searchDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 10px; /* Optional: add space between grid items */
  align-items: center; /* Align items vertically in the center */
  place-items: center;
}
.grid-item1 {
	/* text-align: start;  */
	/* grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center; */
	grid-column: 1;
  }
  
  .grid-item2 {
	/* text-align: end; */
	grid-column: 2;

	
  }
  .grid-item3{
	grid-column: 3;
	margin: 1em 0;
	position: relative;
	top: 8px;
  }
  .selectText{
	font-size: 16px;
  }
  #searchInput{
	width: 60px	;
	font-size: 16px;
	text-transform: uppercase;
  }
  #searchInput:disabled{
	cursor: not-allowed;
  }
  #question{
	margin-left: -20px;
	font-size: 12px;
	color: #000;
	font-weight: bold;
  }
  #answer{
	font-size: 12px;
	color: #000;
	font-weight: bold;
	margin-left: 4px;
  }

  #questOutput{
	display: none;
	font-size: 23px;
    font-weight: bold;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #d3d3d3;
    text-align: center;
  }

  #answerOutput{
	display: none;
	font-size: 23px;
    font-weight: bold;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #d3d3d3;
    text-align: center;
  }

  .labelDiv{
	position: relative;
    top: 10px;
  }
  .infoQcode{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	text-align: center;
  }
  .text2{
	display: flex;
	align-items: center;
	justify-content: center;
	
  }
  .meanText{
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
  }

  .outer-border {
	border: 2px solid rgba(0, 0, 0, 0.8); /* Outer border */
	padding: 6px; /* Space between outer and inner borders */
	display: inline-block; /* Adjust if necessary */
	/* display: flex; */
	align-items: center;
	justify-content: center;
	width: auto;
	border-radius: 10px;
  }

  .outer-border2{
	border: 2px solid rgba(0, 0, 0, 0.8); /* Outer border */
	padding: 10px; /* Space between outer and inner borders */
	display: inline-block; /* Adjust if necessary */
	/* display: flex; */
	align-items: center;
	justify-content: center;
	width: auto;
	border-radius: 10px;
  }

  .table-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
	overflow: auto; /* Enable scrolling */
	max-height: 300px; /* Adjust height as needed */
  }

  .table-container2{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	overflow: auto; /* Enable scrolling */
	max-height: 300px; /* Adjust height as needed */
  }
  .Q-Box {
	/* background-color: rgba(255, 255, 255, 0.8); */
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 15px;
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: auto;
	cursor: pointer;
    font-weight: bold;
    color: #111;
    background-color: #f0f0f0;
	border-radius: 5px;
  }
  .Q-Box:hover{
	background-color: rgb(128, 128, 128);
	color: rgb(30, 30, 30);
  }

 



#playButton::before {
	position: absolute;
	content: '';
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
	border-left: #000 15px solid;
	top: 45%;
	left: 50%;
	transform: translate(-40%, -50%);


}

/* 

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
} */

/* .switch{
	background-color: red;
} */

/* .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 23px;
	left: 50px;
	top: 110px;
	border: 1px solid black;
	border-radius: 34px;
} */
/* .switch input {
	opacity: 0;
	width: 0;
	height: 0;
} */
 .switch{
	position: relative;
    display: inline-block;
    width: 60px;
    height: 23px;
 }
 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
} 
/* .slider {
	display: inline-block;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	border: 1px solid black;
	border-radius: 34px;
	width: 60px;
	height: 23px;
	
} */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 1px solid black;
    transition: .4s;
    border-radius: 34px;
}


.slider.round {
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	left: 2px;
	bottom: 1px;
	content: "";
	height: 20px;
	width: 20px;
	
	background-color: white;
	-webkit-transition: 0s;
	transition: 0s;
	border-radius: 50%;
}

.slider.round:before {
	border-radius: 50%;
}

input:checked+.slider {
	background-color: black;
}

input:focus+.slider {
	box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(35px);
}


#playButton:disabled {
	/* position: absolute;
	left:300px;
	top: 150px; */
	width: 70px;
	height: 65px;
	border-radius: 100%;
	border-color: #000;
	color: #000;
	padding-top: 30px;
	font-weight: 600;
	cursor: not-allowed;
}

p.ad {
	display: flex;
	justify-content: center;
	position: relative;
	top: 55px;
	margin: 0;
	/* position: relative;
	top: 110px; */
}

.div1{
	/* background-color: red; */
	margin: 0;
}


p.morse {
	position: absolute;
	left: 388px;
	top: 69px;
	/* font-weight: 600; */
	/* font-size: 20px; */
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;



}

.selectmorse {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;

}


#morseOutput {
	grid-column: 1;
	font-weight: bold;
	font-size: 42px;
	letter-spacing: 2px;
	color: black;
	font-family: Arial, sans-serif;
	background-color: yellow;
	
}

#toggle:disabled +.slider{
    cursor: not-allowed;
}

.audText {
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
}

.text3 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 2px;
	
	
}

p.ad {
	display: flex;
	justify-content: center;
}




/* p.selectmorse{
	position: absolute;
	left:243px;
	top: 70px;
} */
p.dm {
	border: 2px solid black;
	padding: 1rem;
	border-radius: 20%;
	font-weight: 600;
	font-size: larger;
	height: 64px;
	width: 46.6875px;
}

.morsePlay {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.morsedisplay1 {


	font-weight: 700;
	font-size: 58px;
	font-family: monospace;
}

.button {
	display: block;
	margin-left: 55px;
	margin-top: 170px;
}

.repeat1 {
	position: absolute;
	top: 410px;
	left: 300px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(224, 223, 223);
	color: rgb(32, 32, 32);
	margin-left: -5px;
	padding: 8px 8px;
	font-size: 10px;


}

.warning {
	visibility: hidden;
	display: flex;
	justify-content: center;
}

.pd {
	/* margin: 40px; */
	padding-right: 35px;
}

.pd1 {
	/* margin: 40px; */
	padding-right: 35px;
}

.opDoubledash {
	font-weight: 600;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.repeatname {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: small;
}

.numberInput {
	cursor: pointer;
	width: 8%;
	border: 1px solid black;
	border-radius: 10%;
	text-align: center;
}

.numberInput:disabled {

	cursor: not-allowed;
}

#slider {
	width: 39%;
	position: absolute;
	left: 185px;
	top: 15rem
}

.selectNumber {
	position: absolute;
	top: 150px;
	left: 235px;
}

#morseImage {
	width: 80%;
	height: 100%;
}

.hintColumn {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	gap: 1rem;
}


#hintButton {

	padding: 10px 10px;
	cursor: pointer;
	border-radius: 8px;
	font-weight: 600;
	font-family: sans-serif;
}

.imageContent {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Ensure container takes full width */
    height: auto;
    /* Adjust height as needed */
    text-align: center;
    /* Center text inside the span */

}
.nameDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
	
}

/* position:absolute;
	left:50px;
	top:50px;
	height:530px;
	width:745px; */

/* ONLY do this, when the viewport has a width of at least 500px */